/* Здесь будут храниться стили нашего сайта */
body {
	background-color: #dddddd;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

img {
	max-width: 100%;
}

header {
	padding-top: 59px;
	padding-bottom: 22px;
	background-color: #3a7dfd;
	color: #fff;
}

.header-pretitle {
	margin-top: 102px;
	font-weight: 700;
	
}

.header-title {
	font-weight: 700;
	font-size: 38px;
	line-height: 46.81px;
	margin-top: 21px;
}

.header-subtitle {
	margin-top: 20px;
}

.header-button-block {
	max-width: 210px;
}

header small {
	font-size: 12px;
	display: block;
	margin-top: 9px;
	text-align: center;
}

.header-button {
	display:inline-block;
	text-decoration: none;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	background-color: #ffffff;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	padding: 17px 55px;
	margin-top: 33px;
}

.portfolio-block {
	background-color: #fff;
	margin: 44px 160px 71px; 
	
	padding-top: 29px;
	padding-bottom: 44px;
}

.portfolio-title {
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	color: #072b6f;
	font-weight: 700;
	padding-bottom: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.portfolio-subtitle {
	text-align: center;
	display: block;
	color: #7bb9ff;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 30px;
	margin-top: 0;
}

.portfolio-block .row {
	padding: 0 50px;
}

.portfolio-block-h3 {
	color: #072b6f;
	text-decoration: uppercase;
	margin-top: 16px;
	margin-bottom: 20px;
	font-weight: 700;
}

.portfolio-block-p {
	color: #8f8f8f;
	font-size: 14px;
	margin-bottom: 19px;
	font-weight: 400;
}

.portfolio-block-a {
	text-decoration: underline;
	font-size: 14px;
	color: #072b6f;
}

footer {
	background-color: #3a7dfd;
	padding-bottom: 110px;
	padding-top: 60px;
	color: #fff;
}

.footer-h3 {
	color: #fefefe;
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 7px;
	margin-bottom: 0;
}

.footer-p {
	color: #deedfe;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 0;
}

.link {
	display: flex;
	justify-content: space-around;
	padding: 0 30px;
}

.footer-contacts {
	text-align: center;
}

.footer-button {
	display:inline-block;
	text-decoration: none;
	border: 2px solid rgba(250,250,250,0.3);;
	border-radius: 50px;
	background-color: #3a7dfd;
	color: #deedfe;;
	font-size: 18px;
	font-weight: 700;
	padding: 17px 55px;
	margin-top: 13px;
}

@media (max-width: 1200px) {
	.header-pretitle {
		margin-top: 60px;
	}
}

@media (max-width: 992px) {
	.header-img {
		display: none;
	}
	.header-pretitle {
		margin-top: 0;
	}
	.footer-h3 {
	font-size: 18px;
	}
	.footer-p { 
	font-size: 14px;
	}
	.link {
	padding: 0 5px;
	}
	.link img {
		width: 30px;
		height: 30px;
	}
	.footer-button {
	border-radius: 50px;
	font-size: 14px;
	padding: 12px 30px;
	margin-top: 7px;
	}

}

@media (max-width: 768px) {
	.col-block {
		margin: 10px 0 30px ;
	}
	.portfolio-subtitle {
		padding-bottom: 0;
	}
	.footer-h3, .footer-p {
		text-align: center;
	}
	.link {
		margin: 0 150px;
	}
	footer {
		padding-bottom: 50px;
	}
}